# -*- mode: conf -*-

[Unit]
Description=Node metrics collector and publisher.
Documentation=https://prometheus.io
After=network-online.target
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
# These constants appear in /usr/lib/systemd/system/prometheus-node-exporter.service.d/environment.conf
ExecStart=/usr/bin/node_exporter \
          RPM_EXTRA_HYPHEN-web.telemetry-path=${TELEMETRY_PATH} \
          RPM_EXTRA_HYPHEN-web.listen-address=${WEB_ADDR} \
          RPM_EXTRA_HYPHEN-log.format=${SYSLOG_CONF} \
          RPM_EXTRA_HYPHEN-log.level=${LOG_LEVEL}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=prometheus-node-exporter

[Install]
WantedBy=multi-user.target
